#banner{
  background: url("../../assets/img/home/bannerBG.png");
  background-repeat: no-repeat;
  background-size: cover;
  header{
    padding: 2rem 0;
  }
  #logo{
    color: $white;
    font-weight: 700;
    font-size: 1.35rem;
    float: left;
    margin: 0;
    span{
      font-weight: 400;
    }
  }
  nav{
    float: right;
    a{
      color: $white;
      font-weight: 700;
      text-decoration: none;
      margin-left: 2rem;
    }
  }
}

.content{
  padding: 4rem 0 8rem 0;
  .title, .subtitle{
    color: $white;
    text-align: center;
  }
  .title{
    margin: 0;
    font-size: 3.5rem;
  }
  .subtitle{
    font-weight: 400;
    font-size: 1.35rem;
    width: 500px;
    margin: 0 auto 2rem auto;
    line-height: 1.75;
  }
  .buttonWrapper{
    text-align: center;
    margin: 3rem 0;
    .button{
      margin: 0 .75rem;
    }
  }
}
