#services{
  background: $grey_background;
  padding: 2rem 0 6.5rem 0;
  position: relative;
  .service{
    background: $white;
    width: 31%;
    float: left;
    margin: -5rem 1% 0 1%;
    padding: 3rem 2.5%;
    text-align: center;
    position: relative;
    -webkit-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, .25);
    -moz-box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, .25);
    box-shadow: 0px 0px 57px 0px rgba(4, 6, 9, .25);
    border-radius: .35rem;
    h3{
      margin: 0;
      font-size: 1.5rem;
      color: $dark_grey;
    }
    p{
      margin: 0 0 2rem 0;
      color: $dark_grey;
    }
    .button{
      padding: .5rem 2rem;
    }
    &:after{
      content: " ";
      position: absolute;
      left: 50%;
      bottom: -50px;
      height: 50px;
      border-left: 2px solid #c9c7d3;
    }
  }
  .middle{
    &:after{
      bottom: -105px;
      height: 105px;
    }
  }
  &:before{
    content: " ";
    position: absolute;
    left: 50%;
    bottom: 54px;
    border-top: 2px solid #c9c7d3;
    width: 56%;
    margin-left: -28%;
  }
}
